body {
    background: rgb(66, 39, 39);
    padding: 0;
    margin: 0;
}

.header {
    background: rgb(53, 44, 90);
    margin: -150px 0px 0px 0px;
    height: 200px;
    width: 100%;

}

h1 {
    color: rgb(177, 156, 156);
    display: block;
    text-align: center;
    margin: 40px 0px 0px 0px;
    font-size: 60px;
}

.config-bar {
    background: rgb(36, 32, 50);
    margin: 0px;
    height: 60px;
    width: 100%;
}

#adress {
    position: absolute;
    top: 165px;
    left: 40%;
}


body

/* Meny med inlogs rutorna */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(53, 44, 90)cc;
    border-radius: 10px;
    box-sizing: border-box;
    background: white;
}

/* style för alla knappar */
button {
    background-color: rgb(53, 44, 90);
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
    width: 100px;
    position: relative;


}

button:hover {
    opacity: 0.8;
}

/* style för cancel knapp*/
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: rgb(133, 141, 176);
    margin: 5% auto 15% auto;
    width: 50%;
    border: 1px;
    border-radius: 10px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/*Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

h2 {
    color: rgb(177, 156, 156);
    display: block;
    text-align: center;
    margin-top: 0px;
    font-size: 35px;
}



/*
img {
    margin: 6px 0px 0px 6px;
    height: 60px;
    width: 60px;
}
*/

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    flex-shrink: 0;
    gap: 0em;
}

/*container till frisör info*/
.flex-container>div {
    background-color: rgb(177, 156, 156);
    height: 465px;
    width: 700px;
    margin: auto;
    margin-top: 20px;
    padding: 0px;
    font-size: 30px;
    border: solid 0;
    border-radius: 5px;
    font-size: 40px;
}

/*Andrea*/
.frisör-bild-1 {
    background: white;
    height: 300px;
    width: 250px;
    margin: 25px;
    border: solid 0;
    border-radius: 5px;
}

.Andrea-namn {
    font-family: Helvetica;
    font-size: larger;
    color: rgb(36, 32, 50);
    margin: -320px 0px 0px 420px;
}

.Andrea-pre-info {
    background: rgb(194, 174, 174);
    width: 375px;
    height: 150px;
    margin: -61px 90px 0px 300px;
    border: solid 0;
    border-radius: 5px;
    font-family: Helvetica;
    font-size: 20px;
    color: rgb(36, 32, 50);
}

.Andrea-info {
    background: rgb(194, 174, 174);
    width: 375px;
    height: 205px;
    margin: 25px 90px 0px 300px;
    border: solid 0;
    border-radius: 5px;
    font-family: Helvetica;
    font-size: 20px;
    color: rgb(36, 32, 50);
}

.Andrea-Sm1 {
    background: rgb(177, 156, 156);
    width: 220px;
    height: 130px;
    margin: -56px 90px 0px 180px;
    border: solid 0;
    border-radius: 5px 0px 0px 0px;
    font-family: Helvetica;
    font-size: 20px;
    color: rgb(36, 32, 50);
}

.Andrea-Sm2 {
    background: rgb(194, 174, 174);
    width: 175px;
    height: 110px;
    margin: -110px 90px 0px 200px;
    border: solid 0;
    border-radius: 5px 0px 5px 0px;
    font-family: Helvetica;
    font-size: 20px;
    color: rgb(36, 32, 50);
}

/*Andrea-info-overlay är en div som är genomskinlig 
för att få all info på rätt ställe*/
.Andrea-info-overlay {
    width: 375px;
    height: 205px;
    margin: -205px 90px 0px 300px;
    border: solid 0;
    border-radius: 5px;
    font-family: Helvetica;
    font-size: 20px;
    color: rgb(36, 32, 50);
}

.andrea-kontakta-mig {
    position: absolute;
    font-family: Helvetica;
    font-size: 40px;
    color: rgb(36, 32, 50);
    margin: -120px 0px 0px 65px;
}

.Text-andrea-tel {
    position: absolute;
    margin: 10px 0px 0px 20px;
}

.Text-andrea-email {
    position: absolute;
    margin: -50px 0px 0px 20px;
}

.Text-Socialamedier {
    margin: -90px 0px 0px 225px;
}

.Andrea-Facebook {
    margin: -52px 0px 0px 230px;
}

.Andrea-Instagram {
    margin: 145px 0px 0px 300px;
}

.Andrea-tel {
    margin: 10px 0px 0px 10px;
    color: #ffffff
}

.Andrea-pre-info {
    background: rgb(194, 174, 174);
    width: 375px;
    height: 70px;
    margin: -61px 90px 0px 300px;
    border: solid 0;
    border-radius: 5px;
    font-family: Helvetica;
    font-size: 20px;
    color: rgb(36, 32, 50);
}

/*Angelica*/
.frisör-bild-2 {
    background: white;
    height: 300px;
    width: 250px;
    margin: 25px 25px 25px 425px;
    border: solid 0;
    border-radius: 10px;
}

.Angelica-namn {
    font-family: Helvetica;
    font-size: larger;
    color: rgb(36, 32, 50);
    margin: -320px 0px 0px 120px;
}

/*Andrea-info-overlay är en div som är genomskinlig 
för att få all info på rätt ställe*/
.Angelica-info-overlay {
    width: 375px;
    height: 205px;
    margin: -205px 90px 0px 300px;
    border: solid 0;
    border-radius: 5px;
    font-family: Helvetica;
    font-size: 20px;
    color: rgb(36, 32, 50);
}

.angelica-kontakta-mig {
    position: absolute;
    font-family: Helvetica;
    font-size: 40px;
    color: rgb(36, 32, 50);
    margin: -120px 0px 0px 65px;
}

.Text-angelica-tel {
    position: absolute;
    margin: 10px 0px 0px 20px;
}

.Text-angelica-email {
    position: absolute;
    margin: -50px 0px 0px 20px;
}

.Text-Socialamedier {
    margin: -90px 0px 0px 225px;
}

.Angelica-Facebook {
    margin: -52px 0px 0px 230px;
}

.Angelica-Instagram {
    margin: 145px 0px 0px 300px;
}

.Angelica-tel {
    margin: 10px 0px 0px 10px;
    color: #ffffff
}

.Andrea-pre-info {
    background: rgb(194, 174, 174);
    width: 375px;
    height: 70px;
    margin: -61px 90px 0px 300px;
    border: solid 0;
    border-radius: 5px;
    font-family: Helvetica;
    font-size: 20px;
    color: rgb(36, 32, 50);
}

/*Boka knapp*/
.Andrea-boka-knapp {
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(194, 174, 174);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
    width: 650px;
    height: 90px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 25px 0px 0px 25px;
}

.Andrea-boka-knapp span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.Andrea-boka-knapp span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.Andrea-boka-knapp:hover span {
    padding-right: 25px;
}

.Andrea-boka-knapp:hover span:after {
    opacity: 1;
    right: 0;
}


/*Slut på boka knapp*/

/*Boka knapp*/
.Angelica-boka-knapp {
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(194, 174, 174);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
    width: 650px;
    height: 90px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 25px 0px 0px 25px;
}

.Angelica-boka-knapp span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.Angelica-boka-knapp span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.Angelica-boka-knapp:hover span {
    padding-right: 25px;
}

.Angelica-boka-knapp:hover span:after {
    opacity: 1;
    right: 0;
}


/*Slut på boka knapp*/
.footer {
    position: absolute;
    background: grey;
    margin: 200% 0% 0% 0%;
    height: 20%;
    width: 96%;

}